.navbar {
    font-size: 18px;
    background: linear-gradient(9deg, #c02c2c, #2cc05d, #962cc0, #c02c51, #2cb6c0, #c0aa2c);
    border-bottom: #615858 4px solid;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links, .logo, .material-icons {
    text-decoration: none;
    color: ghostwhite;
    opacity: 0.6;
}

.main-nav li {
    text-align: center;
    margin: 10px auto;
}
